/* General Header Styles */
.header {
  margin: 2rem 10%;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ece1fa;
}

/* Logo Styles */
.logo {
  font-size: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: #ece1fa;
  transition: transform 0.3s ease-in-out;
}

.logo:hover svg {
  transform: rotate(360deg);
  scale: 1.1;
}

/* Button Styles */
.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #4A90E2; /* New light blue color */
  color: #ffffff; /* Change text color to white for better contrast */
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Button Hover Styles */
.button:hover {
  background-color: #357ABD; /* Darker shade of blue on hover */
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Button Focus Styles */
.button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(52, 152, 219, 0.5);
}

/* Mobile Support */
@media (max-width: 768px) {
  .header {
    margin: 1rem 5%;
    flex-direction: column;
    text-align: center;
  }

  .logo {
    font-size: 1.5rem;
    gap: 1rem;
    justify-content: center;
  }

  .button {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
    margin-top: 1rem; /* Add spacing between the button and logo */
  }
}
